.App {
    text-align: center;
    margin: auto;
    background-color: #efefef;

}

#cardTable {

  width: 50vw;
  margin: 0 auto;
  background: #fff;
}

#header{
   background-color: #0CA8E9;
   color:#FFFFFF;
   font-family: sans-serif;
}

.select-city {
  width: 50vw;
  margin: 0 auto;
}

.getRandomButton{
  
  width: 50vw;
  margin: 0 auto;
}

#image{
  width: 25vw;
}

#tripadvisor{
  width: 12vw;
}

table{
  align-content: center;
}