.App {
    text-align: center;
    margin: auto;
    background-color: #efefef;

}

#cardTable {

  padding-left: 13em;

}

#header{
   background-color: #0CA8E9;
   color:#FFFFFF;
   font-family: sans-serif;
}
